body{
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
background-image:
url("/img/cutepizza.png"),
linear-gradient(45deg, orangered 25%, transparent 25%), 
linear-gradient(-45deg, orangered 25%, transparent 25%),
linear-gradient(45deg, transparent 75%,orangered 75%),
linear-gradient(-45deg, transparent 75%, orangered 75%);
background-repeat: no-repeat;    
background-position: fixed bottom right;
}
.jumbotron{
  background-color: lightcyan;
}

#pizzaForm {
  background-color: lightcyan;
  border-radius: 10%;
  
  padding: 5%;
}

h2{
  font-style: bolder;
}

h5{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h6{
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.choiceHeading{
  margin-top: 5%;  
}

.radio{
  
}

#placeOrder {
  margin-top: 5%;
}

.pizzaOrder {
  float: right;
  border: 5px dashed darkgreen;
  width: auto;
  height: auto;
  padding: 10%;
  display: none;
  margin-top: 15%;
  color: black;
  background-color: rgb(211, 211, 211, .95);
  ;
}