body{
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2{
  margin-top: 5%;
  font-style: bolder;
}

h5{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h6{
  font-style: italic;

}

.choiceHeading{
  margin-top: 5%;
  
}

.radio{
font-family: cursive;
}
#placeOrder {
  margin-top: 5%;
}

.pizzaOrder {
  float: right;
  border: 5px dashed darkgreen;
  width: auto;
  height: auto;
  padding: 10%;
  display: none;
  margin-top: 15%;
  background-color: lightgrey;
}